.select{
    padding: 1rem;
    border-radius: 20px;
    font-size: 1.2rem ;
    margin-right: -1rem;
    margin-left: 1rem;
}
.select:focus{
    border-color: #2563eb;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
    outline: none;
}
