.containerHeader{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: white;
    height: 160px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.icons{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.icons .icon{
    cursor: pointer;
}
.icons .icon:hover{
    opacity: 60%;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h2{
    font-size: 1.6rem;
    color: var(--color-dark);
}
.logo h2 span{
    color: black;
}
.logo img{
    width: 4.5rem;
    height: auto;
}
.containerNav{
    display: flex;
    justify-content: center;
}
.containerNav nav ul{
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
}
.containerNav nav ul li{
    list-style: none;
    text-decoration: none;
}
.containerNav nav ul li .link{
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}
.containerNav nav ul li .link:hover{
    color: var(--color-dark);
    background-color: #CAE1FF;
    color: #2B7FFF;
    border-radius: 8px;
    padding: 5px 10px;
}
.activar {
    color: var(--color-dark);
    background-color: #CAE1FF;
    color: #2B7FFF;
    border-radius: 8px;
    padding: 5px 10px;
}
.line{
    background-color: var(--color-dark);
    width: 100%;
    height: 5px;
    margin-top: 2rem ;
    opacity: 90%;
}