.container{
    background-color: var(--color-dark);
    text-align: center;
    padding: 30px;
    border-radius: 30px;
    margin: 20px;
}

.tittle{
    color: var(--color-white);
    font-size: 2rem;
    margin: 10px;
}

.footerText{
    color: var(--color-white);
    font-size: 1.5rem;
    margin: 20px;
}

.footerBtn{
    margin: 15px;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;  
    color: var(--color-dark);
}

.footerBtn:hover{
    background: rgb(132, 138, 165);
    transform: translateY(-10px);
}