.containerPersonalInfo {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    min-height: 100vh;
    padding-top: 32px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 66px;
    margin-bottom: 20px;
}

.containerPersonalInfo .title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 35px;
}

.containerPersonalInfo .title h2 {
    font-size: 30px;
}

.containerPersonalInfo .title p {
    font-size: 19px;
    color: #4A5565;
}

.containerPersonalInfo .itemInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 18px;
}

.containerPersonalInfo .itemInput input {
    background-color: #F3F3F5;
    border-radius: 12px;
    width: 200px;
    border: 1px solid black;
}

.containerPersonalInfo .inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    transform: translateX(-20px);
    row-gap: 50px;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 20px;
}