.containerHeader{
    width: 100%;
    position: sticky;
    height: 70px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.icons{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.icons button{
    padding: 6px 8px ;
}
.icons .icon:hover{
    opacity: 60%;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h2{
    font-size: clamp(1.3rem,3vw,1.6rem);
    color: var(--color-dark);
}
.logo h2 span{
    color: black;
}
.logo img{
    width: clamp(5rem,6.5vw,6rem);
    height: auto;
}