.confirmada {
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #e8f0fe;
    color: #1a73e8;
}

.pendiente {
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #fef7e0;
    color: #b06000;
}

.completada {
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #e6f4ea;
    color: #137333;
}

.reprogramada {
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #f3e8fd;
    color: #7627bb;
}

.cancelada {
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #fce8e6;
    color: #c5221f;
}