.containerMain{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    display: flex;
    align-items: center;
}

div.btns{
    display: flex;
    gap: 1.5rem;
    transform: translateX(-15px);
}