.formLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-top: 1rem;
}
.btn{
    width: 7rem;
    font-size: clamp(1rem,2vw,1.2rem) !important;
    padding: 10px !important;
    margin-top: 0.5rem;
}
.input{
    font-size: clamp(1.2rem,2vw,1.4rem) !important;
}
.error {
    color: red;
    min-height: 12px; 
    margin: -1.7rem;
   font-size: clamp(0.6rem,1.2vw,1.3rem);

}.formLogin { width: 100%; gap: 24px; }
.error { margin: 0; font-size: 0.9rem; text-align: center; }
