.mainRegister {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: auto;
    min-height: 80%;
    border-radius: 5%;
    padding: 4rem;
    gap: 2rem;
    margin: auto 0;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo h1 {
    font-size: 2rem;
}

.logo span {
    color: var(--color-dark);
}

.container h2 {
    font-size: 1.5rem;
}

.formWrapper {
    width: 100%;
}