.textNingunaNotificacion,
.textCargandoNotificaciones{
    font-weight: bold;
    width: 90%;
    margin: 0 auto;
}
.textCargandoNotificaciones{
    padding-top: 55px;
}
.textNingunaNotificacion{
    font-size: 26px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}