.mainLogin{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.container{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: auto;
    border-radius: 5%;
    padding: 4rem;
    gap: 3rem;
    margin:auto 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}
.logo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo h1{
    font-size: 3rem;
}
.logo span{
    color: var(--color-dark);
}
.container h2{
    font-size: 2rem;
}
.form{
    width: 100%;
}
.containerLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

.link{
    color: black;
    font-size: 1.4rem;
    text-decoration: none;
}
.link:hover{
    opacity: 80%;
    color: var(--color-dark);
    font-size: 1.5rem;
}