.containerMain {
    width: 90%;
    margin: 0 auto;
    padding-top: 70px;
}

.card img {
    border-radius: 48%;
}

.card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.header button{
    padding: 13px 10px;
    font-size: 15px;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 26px;
}

.container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
}
.schedule{
    display: flex;
    align-items: center;
    gap: 7px
}
.containerCards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.estados{
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    background-color: #d4edda;
    color: #155724;
}