.containerCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 94%;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 20px;
    justify-content: space-between;
}

.empty{
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.filtros{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding-bottom: 20px;
    background-color: white;
    padding: 30px;
    background: #fff;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow:
        0 2px 8px rgba(0, 0, 0, 0.05),
        0 8px 20px rgba(0, 0, 0, 0.06);
}

.filtros:hover{
    box-shadow: 0 8px 24px rgba(59, 130, 246, 0.25);
}

.filtros input{
    border-radius: 16px;
    width: 300px !important;
    padding: 10px;
    background-color: #F6F7F9;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow:
        0 2px 8px rgba(0, 0, 0, 0.05),
        0 8px 20px rgba(0, 0, 0, 0.06);
}
.filtros select{
    border-radius: 16px;
    padding: 13px;
    width: 300px;
    background-color: #F6F7F9;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow:
        0 2px 8px rgba(0, 0, 0, 0.05),
        0 8px 20px rgba(0, 0, 0, 0.06);
}